[Desktop Entry]
Type=Application
Name=volga_it_2024_final
Comment=A new Flutter project.
Icon=com.example.volga_it_2024_final
Exec=/usr/bin/com.example.volga_it_2024_final
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=com.example
ApplicationName=volga_it_2024_final
